<h1>Todos</h1>

<ul>
    {{#each todos}}

    {{> todoList title=this.title}}

    {{/each}}

</ul>

{{!-- <ul>
    {{#each todos}}
    <li>
        {{#if this.done}}

        <u>{{this.title}}</u>

        {{else}}

        {{this.title}}

        {{/if}}
    </li>
    {{/each}}
</ul> --}}

{{!-- todos.forEach(() => {

}) --}}